<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head"); %>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/font-awesome.min.css" />
        <%- style %>
    </head>

    <body>
        <%- include('../partials/menu') %>
        <div class="container-fluid">
            <div class="row">
                <ul class="nav nav-pills" id="stats"></ul>
            </div>
            <div class="row">
                <main><%- body%></main>
            </div>
        </div>
        <script src="/js/jquery-3.2.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/utils.js"></script>
        <script src="/js/stats.js"></script>
        <%- script %>
    </body>
</html>
