<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>RepairLog</title>

        <%- include('../partials/style') %>
    </head>

    <body>
        <%- include('../partials/navbar') %>
        <div class="mx-4">
            <ul class="nav nav-pills" id="clouds">
                <li class="nav-item hidden"><a class="nav-link active" href="#">tìm kiếm</a></li>
            </ul>
            <%- include('../partials/table') %>
        </div>

        <%- include('../partials/modal') %> <%- include('../partials/loader') %>

        <div id="toast"></div>

        <%- include('../partials/script') %>
    </body>
</html>
